body {
    background-color:#000000;
}

section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.rows {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 26px;
}

iframe {
    padding: 15px 38px;
}